.McColours {
    display: flex;
    flex-wrap: wrap;
    width: 0.55em;
    height: 0.6em;
    margin-top: 0.6em;
    margin-bottom: 7px;
    margin-left: 2px;
    border: 1px solid grey;
    transition: all 0.2s;
    position: relative;
}

.McColours:hover {
    cursor: pointer;
    box-shadow: #222 5px 5px 10px;
}

.McColoursContainer {
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    position: absolute;
    top: 130%;
    left: calc(-50px + 50%);
    border: 1px solid grey;
    box-shadow: #222 5px 5px 10px;
}

.McColoursContainer.fade {
    animation: fadeOut 0.2s;
}

.McColoursContainer.show {
    visibility: visible;
    animation: fadeIn 0.2s;
}

@keyframes fadeIn {
    from { transform: scale(0);}
    to { transform: scale(1); }
}

@keyframes fadeOut {
    from { transform: scale(1); visibility: visible; }
    to { transform: scale(0); visibility: hidden; }
}

.McColourBlock {
    width: 25%;
    height: 25%;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    z-index: 2;
}